:host{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-d{
    display: grid;
    margin: 0 auto;
    margin-top: 40vh;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    padding: 15px;
    width: 30vw;
    /* height: 20vh; */
}